<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>RegistPage</h1>

    <form class="actionForm" action="/product/register" method="POST">

        <div>
            <input type="text" name="pname" value="상품1">
        </div>
        <div>
            <input type="number" name="price" value="12000">
        </div>
        <!-- Form tag안에있는 button은 submit => preventDefault -->
        <div>
            <button class="saveBtn">Register</button>
        </div>
        <br>
    </form>

    <input class="uploadInput" type="file" name="upload" multiple>
    <button class="uploadBtn">UPLOAD</button>

    <div class="uploadDiv">
        <ul class="uploadUL">

        </ul>
    </div>

    <style>
        .uploadUL {
            list-style: none;
            display: flex;
            flex-wrap: wrap;
        }

        .uploadUL li {
            margin: 1em;
            background-color: darkgrey;
            padding: 1em;
            border: 1px solid darkgrey;
            border-radius: 0.2em;
        }
    </style>

    <!-- axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script>

        const uploadBtn = document.querySelector(".uploadBtn")
        const uploadInput = document.querySelector(".uploadInput")
        const uploadUL = document.querySelector(".uploadUL")

        const saveBtn = document.querySelector(".saveBtn")

        const actionForm = document.querySelector(".actionForm")

        saveBtn.addEventListener("click", e => {

            e.preventDefault()
            e.stopPropagation()

            const liArr = uploadUL.querySelectorAll("li")

            // 업로드 파일이 없을때 => li태그 동적 생성으로 만들어지지 않을때
            if(!liArr || liArr.length === 0){

                alert("파일을 넣으세용")

                return
            }

            // form hidden 태그 생성
            let str = ""

            for(let liObj of liArr){

                console.log(liObj)
                const uuid = liObj.getAttribute("data-uuid")
                const fileName = liObj.getAttribute("data-filename")

                console.log(uuid, fileName)
                console.log("-------------------------------------")

                //
                str += `<input type='hidden' name='fileNames' value = '${uuid}_${fileName}'>`
            }
            actionForm.innerHTML += str

        }, false)

        uploadBtn.addEventListener("click", e => {

            e.preventDefault()
            e.stopPropagation()

            console.dir(uploadInput.files);

            if (!uploadInput.files || uploadInput.files.length === 0) {

                return

            }

            const formData = new FormData()

            for (let i = 0; i < uploadInput.files.length; i++) {

                formData.append("files", uploadInput.files[i])

            }

            console.dir(formData)

            const header = { headers: { "Content-Type": "multipart/form-data" } }

            axios.post('http://localhost:8080/upload', formData, header)
                .then(res => {
                    const result = res.data
                    console.log(result)
                    showProducts(result)
                })

        }, false)

        const showProducts = (arr) => {

            let str = ""

            // 업로드한 여러개의 파일을 
            for (const uploadFile of arr) {
                const { fileName, link, uuid } = uploadFile

                str += `<li data-uuid ='${uuid}' data-fileName='${fileName}'>
                         <div>
                            <a href ='http://localhost/${uuid}_${fileName}' target="_blank">
                                <img src = 'http://localhost/${link}'/>
                            </a>
                            <p>${fileName}<button onclick ="javascript:removeFile(event, '${uuid}', '${fileName}')">X</button></p>
                         </div>
                        </li>`

            }

            // 한번에가 아니라 하나하나 넣을 수 도 있어서 +=로 쓴다.
            uploadUL.innerHTML += str

        }

        // 파일 삭제
        const removeFile = (e, uuid, fileName) => {

            // 이벤트 전파가안되게 
            e.stopPropagation()
            e.preventDefault()

            alert("remove file")

            const liObj = e.target.closest("li")

            console.log(liObj)


            axios.delete(`http://localhost:8080/removeFile/${uuid}_${fileName}`)

            liObj.remove()

        }

        window.onbeforeunload = function () {


            console.log("AAAA")

            return 'Are you suer';
        }

    </script>

</body>

</html>